body, html {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color:#CCCCCC;
}

canvas {
    width: 100%;
    height: 100%;
}
#wintext {
  margin-left: 45%;
  display: none;
  color : blue;
  font-size: 150%;
  font-family: "Times New Roman", Times, serif;
}
#game {
	width: 100%;
	height: 100%;
}
#interface {
	width: 100%;
	height: 80px;
}
.interface-section {
	display: inline-block;
}
#player-blue, #player-red {
	height: 50px;
	width: 10%;
	margin: 15px 5% 15px 5%;
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
}
#player-blue-score, #player-red-score {
	display: inline;
	font-size: 2vw;
	vertical-align: middle;
	text-align: center;
}
#blue-piece, #red-piece {
	height: 100%;
	width: 60%;
	vertical-align: middle;
	margin: 0 2% 0 2%;
}
#game_info {
	width: 50%;
	height: 100%;
	float: left;
	display: inline-block;
	text-align: center;
}

#undo-button {
	height: 50%;
	width: 20%;
	vertical-align: middle;
  margin-left: 20%;
  margin-top: 5%;
}

#undo-button:hover {
	cursor: pointer;
}
#undo {
	width: 50%;
	height: 100%;
	float: right;
}
